
.microPic {
    position: absolute;
    display: flex;
    width: 40px;
    margin-left: -40px;
    float: left;
  }
  
  .imageMic {
    width: 150px;
    /* height: 150px; */
  }
  
  .icons {
    height: 30px;
    width: 30px;
    position: relative;
    margin-right: 0px;
    float: right;
    /* display: flex; */
    justify-content: right;
    align-items: right;
  }
  
  .modal-stack {
    position: relative;
    margin-right: 0px;
    float: right;
    /* display: flex; */
    justify-content: right;
    align-items: right;
  }
  
  .myButton {
    position: absolute;
  }
  
  .image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
  
  .slide {
    opacity: 0;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .right-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  
  .sliderDetails {
    top: 10px;
    right: 240px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  
  .imageDetails {
    right: 1000px;
    width: 400px;
    overflow-x: scroll;
  }
  