.form-input-container {
    padding: 8px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.form-input-label {
    width: 30%;
    font-size: 20px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-input-field {
    margin-left: 10px;
    width: 60%;
    height: 50px;
}